/* Base Application Styles */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900);
@import 'layout';

*{
  box-sizing: border-box;
}

body{
  font-family: 'Source Code Pro';
}

h1,h2,h3,h4,h5,h6{
  font-weight: normal;
}

.relative{
  position: relative;
}
