.month{
  display: flex;
  flex-direction: column;
  padding: 16px;

  h2{
    font-weight: 200;
    margin: 0;
    padding-bottom: 1rem;
  }
}

.week{
  display: flex;
  flex-direction: row;

    border-top: 1px solid rgba(255,255,255,0.3);
  
}

.day{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.5rem;

  &:not(:last-child){
    border-right: 1px solid rgba(255,255,255,0.3);
  }

  span{
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }

  &.selected span{
    border-radius: 50%;
    background-color: #e64545;
  }
}


.weekdays{
  display: flex;
  flex-direction: row;

  .day{
    font-size: 0.8rem;
  }
}
